---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="About" id="about">
  <Fragment slot="lead">
    Our goal is to help make sales and marketing easier.
  </Fragment>

  <div class="desc w-1/2">
    <p>Rapid Systems Hub provides discreet digital marketing services tailored to client needs. Our team has extensive experience in advertising campaigns, affiliate marketing programs, and coaching.</p>

    <p>We maintain a low-profile approach, working closely with a select number of clients each year to ensure personalized attention and strategic solutions.</p>
    
    <p>If your organization seeks to enhance its online presence, we welcome inquiries about potential collaboration opportunities focused on achieving your marketing objectives.</p>

    <p>It's founded and run by Simon Myazin who is an expert in product design, web technolgoies and digital marketing.</p>
  </div>

</ContentSection>
