---
import { Icon } from "astro-icon/components";
import HeroImage from "~/components/hero-image.astro";
---

<footer class="relative flex h-64 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>

  <div class="text-default">
    <p>&copy; {new Date().getFullYear()} Rapid Systems Hub. All rights reserved.</p>
  </div>

</footer>
