---
import { Icon } from "astro-icon/components";
import bgImg from "../assets/images/bg-mosaic-dark.png";
---

<footer class="relative flex h-64 items-center justify-center" style={`background-image: url('${bgImg.src}'); background-repeat: repeat;`}>
  <div class="text-center px-2">
    <p class="text-white">&copy; {new Date().getFullYear()} Rapid Systems Hub. All rights reserved.</p>
    <a href="/privacy-policy" class="text-green-600 text-xs">Privacy Policy</a>
  </div>

</footer>
