---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import LogoSVG from '../../public/logo-rapidly-dark.svg?raw';
---

<ContentSection title="Accelerate Online Growth" id="intro">
  <div slot="eyebrow" class="size-24 text-white md:size-32" set:html={LogoSVG} title="test" />
  <Fragment slot="lead">
    Digital marketing enterprise offering
    a tailored approach to <span class="text-primary">lead generation</span>
    and <span class="text-primary">ad campaign management</span>.
  </Fragment>
  <div class="grid">
    <a
      href="/#contact"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:eye-plus" class="size-8" />
      <span>Stay Updated</span>
    </a>
  </div>
</ContentSection>
